.nav {
    padding-top:5px;
    margin: 5px 5px 5px 5px;
    text-align:right;
    background-color:white;
}
body{
    background-color:skyblue;
}
#signup {
    background-color:white;
    text-align:center;
    border: 1px solid black;
    margin: 75px 200px 50px 200px;
    padding: 15px;
}
tr{
    border-style: 1px inset;
}
.icons {
        border-radius:px;
}
button{
    background-color:skyblue;
}
p{
    color:white;
}